[*.cs]

# UNT0008: Null propagation on Unity objects
dotnet_diagnostic.UNT0008.severity = warning

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
